# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
v1/node_modules/
v2/mobile/node_modules/
v2/desktop/node_modules/

# Expo
v1/.expo/
v1/dist/
v1/web-build/

v2/mobile/.expo/
v2/mobile/dist/
v2/mobile/web-build/

v2/desktop/.expo/
v2/desktop/dist/
v2/desktop/web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
